:root {
  --fds-color-primary-1: #ccecff;
  --fds-color-primary-2: #99d1f2;
  --fds-color-primary-3: #6bb7e3;
  --fds-color-primary-4: #409fd6;
  --fds-color-primary-5: #1e83bd;
  --fds-color-primary: #1e83bd;
  --fds-color-primary-6: #1172ab;
  --fds-color-primary-7: #095f91;
  --fds-color-primary-8: #044d78;
  --fds-color-primary-9: #003a5c;
  --fds-type-text-10: 400 1.813em/2.175em 'Inter';
  --fds-type-text-9: 400 1.500em/1.800em 'Inter';
  --fds-type-text-8: 400 1.313em/1.575em 'Inter';
  --fds-type-text-7: 400 1.188em/1.425em 'Inter';
  --fds-type-text-6: 400 1.063em/1.275em 'Inter';
  --fds-type-text-5: 400 1.000em/1.200em 'Inter';
  --fds-type-text: 400 1.000em/1.200em 'Inter';
  --fds-type-text-4: 400 0.938em/1.125em 'Inter';
  --fds-type-text-3: 400 0.875em/1.050em 'Inter';
  --fds-type-text-2: 400 0.750em/0.900em 'Inter';
  --fds-type-text-1: 400 0.688em/0.825em 'Inter';
  --fds-effect-shadow-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.150);
  --fds-effect-blur-blur-radius: 10px;
  --fds-spacing-0: 0px;
  --fds-spacing-1: 10px;
  --fds-spacing-2: 20px;
  --fds-spacing-3: 30px;
  --fds-spacing-4: 40px;
  --fds-spacing-5: 50px;
  --fds-spacing-6: 60px;
  --fds-spacing-7: 70px;
  --fds-spacing-8: 80px;
  --fds-breakpoint-phone-only-down: 599px;
  --fds-breakpoint-tablet-portrat-up-up: 600px;
  --fds-breakpoint-tablet-landscape-up-up: 900px;
  --fds-breakpoint-desktop-up-up: 1200px;
  --fds-breakpoint-big-desktop-up-up: 1800px;
  --fds-custom-turkey: gravy;
  --fds-custom-nice: 34;
}