:root {
  --hds-color-primary-1: rgba(255, 240, 204, 0.420);
  --hds-color-primary-2: #f7db98;
  --hds-color-primary-3: #f0c767;
  --hds-color-primary-4: #e8b339;
  --hds-color-primary-5: #e0a10d;
  --hds-color-primary: #e0a10d;
  --hds-color-primary-6: #bf8809;
  --hds-color-primary-7: #9e7005;
  --hds-color-primary-8: #7d5802;
  --hds-color-primary-9: #5c4000;
  --hds-spacing-spacing-0: 0px;
  --hds-spacing-spacing-0-3: 2.5px;
  --hds-spacing-spacing-0-6: 5px;
  --hds-spacing-spacing-0-9: 7.5px;
  --hds-spacing-spacing-1: 10px;
  --hds-spacing-spacing-1-3: 12.5px;
  --hds-spacing-spacing-1-6: 15px;
  --hds-spacing-spacing-1-9: 17.5px;
  --hds-spacing-spacing-2: 20px;
  --hds-spacing-spacing-3: 30px;
  --hds-spacing-spacing-4: 40px;
  --hds-spacing-spacing-5: 50px;
  --hds-spacing-spacing-6: 60px;
  --hds-spacing-spacing-7: 70px;
  --hds-spacing-spacing-8: 80px;
  --hds-type-text-10: 400 1.813em/2.125em 'Open Sans';
  --hds-type-text-9: 400 2.063em/2.475em 'Inter';
  --hds-type-text-8: 400 1.313em/1.575em 'Roboto Condensed';
  --hds-type-text-7: 400 1.188em/1.425em 'Allerta Stencil';
  --hds-type-text-6: 400 1.063em/1.275em 'Allerta Stencil';
  --hds-type-text-5: 400 1.000em/1.200em 'Allerta Stencil';
  --hds-type-text: 400 1.000em/1.200em 'Allerta Stencil';
  --hds-type-text-4: 400 0.938em/1.125em 'Allerta Stencil';
  --hds-type-text-3: 400 0.875em/1.050em 'Allerta Stencil';
  --hds-type-text-2: 400 0.750em/0.900em 'Allerta Stencil';
  --hds-type-text-1: 400 0.688em/0.825em 'Allerta Stencil';
  --hds-effect-new-effect-9171: 10px;
  --hds-custom-bubba: dog;
  --hds-custom-turkey: 5;
}