:root {
  --fds-color-primary-1: #ccecff;
  --fds-color-primary-2: #99d1f2;
  --fds-color-primary-3: #6bb7e3;
  --fds-color-primary-4: #409fd6;
  --fds-color-primary-5: #1e83bd;
  --fds-color-primary: #1e83bd;
  --fds-color-primary-6: #1172ab;
  --fds-color-primary-7: #095f91;
  --fds-color-primary-8: #044d78;
  --fds-color-primary-9: #003a5c;
  --fds-color-bonkers-lightest: #ffcccc;
  --fds-color-bonkers-lighter: #ff8888;
  --fds-color-bonkers-light: #ff4444;
  --fds-color-bonkers: #ff0000;
  --fds-color-bonkers-dark: #c90000;
  --fds-color-bonkers-darker: #920000;
  --fds-color-bonkers-darkest: #5c0000;
  --fds-type-text-10: 400 1.813em/2.175em 'Inter';
  --fds-type-text-9: 400 1.5em/1.8em 'Inter';
  --fds-type-text-8: 400 1.313em/1.575em 'Inter';
  --fds-type-text-7: 400 1.188em/1.425em 'Inter';
  --fds-type-text-6: 400 1.063em/1.275em 'Inter';
  --fds-type-text-5: 400 1em/1.2em 'Inter';
  --fds-type-text: 400 1em/1.2em 'Inter';
  --fds-type-text-4: 400 0.938em/1.125em 'Inter';
  --fds-type-text-3: 400 0.875em/1.05em 'Inter';
  --fds-type-text-2: 400 0.75em/0.9em 'Inter';
  --fds-type-text-1: 400 0.688em/0.825em 'Inter';
  --fds-effect-shadow-shadow: 0px 0px 10px 0px rgba(rgba(0, 0, 0, 0.15);
  --fds-effect-blur-blur-radius: 10px;
  --fds-breakpoint-sm-down: 599px;
  --fds-breakpoint-xlg-up: 1200px;
  --fds-breakpoint-lg-up: 900px;
  --fds-breakpoint-md-up: 600px;
  --fds-custom-nice: 34;
  --fds-custom-turkey: "gravy";
  --fds-spacing-0: 0px;
  --fds-spacing-0-3: 2px;
  --fds-spacing-0-6: 4px;
  --fds-spacing-0-9: 6px;
  --fds-spacing-1: 8px;
  --fds-spacing-1-3: 10px;
  --fds-spacing-1-6: 12px;
  --fds-spacing-1-9: 14px;
  --fds-spacing-2: 16px;
  --fds-spacing-3: 24px;
  --fds-spacing-4: 32px;
  --fds-spacing-5: 40px;
  --fds-spacing-6: 48px;
  --fds-spacing-7: 56px;
  --fds-spacing-8: 64px;
  --fds-spacing-9: 72px;
  --fds-spacing-10: 80px;
  --fds-spacing-11: 88px;
  --fds-spacing-12: 96px;
  --fds-spacing-col-0: 0%;
  --fds-spacing-col-0-3: 2.7775%;
  --fds-spacing-col-0-4: 2.0833%;
  --fds-spacing-col-0-6: 4.1667%;
  --fds-spacing-col-0-8: 6.25%;
  --fds-spacing-col-0-9: 5.555%;
  --fds-spacing-col-1: 8.3333%;
  --fds-spacing-col-1-3: 11.1108%;
  --fds-spacing-col-1-4: 10.4167%;
  --fds-spacing-col-1-6: 12.5%;
  --fds-spacing-col-1-8: 14.5833%;
  --fds-spacing-col-1-9: 13.8883%;
  --fds-spacing-col-2: 16.6667%;
  --fds-spacing-col-2-3: 19.4442%;
  --fds-spacing-col-2-4: 18.75%;
  --fds-spacing-col-2-6: 20.8333%;
  --fds-spacing-col-2-8: 22.9167%;
  --fds-spacing-col-2-9: 22.2217%;
  --fds-spacing-col-3: 25%;
  --fds-spacing-col-3-3: 27.7775%;
  --fds-spacing-col-3-4: 27.0833%;
  --fds-spacing-col-3-6: 29.1667%;
  --fds-spacing-col-3-8: 31.25%;
  --fds-spacing-col-3-9: 30.555%;
  --fds-spacing-col-4: 33.3333%;
  --fds-spacing-col-5: 41.6667%;
  --fds-spacing-col-6: 50%;
  --fds-spacing-col-7: 58.3333%;
  --fds-spacing-col-8: 66.6667%;
  --fds-spacing-col-9: 75%;
  --fds-spacing-col-10: 83.3333%;
  --fds-spacing-col-11: 91.6667%;
  --fds-spacing-col-12: 100%;
  --fds-spacing-colvw-0: 0vw;
  --fds-spacing-colvw-0-3: 2.7775vw;
  --fds-spacing-colvw-0-4: 2.0833vw;
  --fds-spacing-colvw-0-6: 4.1667vw;
  --fds-spacing-colvw-0-8: 6.25vw;
  --fds-spacing-colvw-0-9: 5.555vw;
  --fds-spacing-colvw-1: 8.3333vw;
  --fds-spacing-colvw-1-3: 11.1108vw;
  --fds-spacing-colvw-1-4: 10.4167vw;
  --fds-spacing-colvw-1-6: 12.5vw;
  --fds-spacing-colvw-1-8: 14.5833vw;
  --fds-spacing-colvw-1-9: 13.8883vw;
  --fds-spacing-colvw-2: 16.6667vw;
  --fds-spacing-colvw-2-3: 19.4442vw;
  --fds-spacing-colvw-2-4: 18.75vw;
  --fds-spacing-colvw-2-6: 20.8333vw;
  --fds-spacing-colvw-2-8: 22.9167vw;
  --fds-spacing-colvw-2-9: 22.2217vw;
  --fds-spacing-colvw-3: 25vw;
  --fds-spacing-colvw-3-3: 27.7775vw;
  --fds-spacing-colvw-3-4: 27.0833vw;
  --fds-spacing-colvw-3-6: 29.1667vw;
  --fds-spacing-colvw-3-8: 31.25vw;
  --fds-spacing-colvw-3-9: 30.555vw;
  --fds-spacing-colvw-4: 33.3333vw;
  --fds-spacing-colvw-5: 41.6667vw;
  --fds-spacing-colvw-6: 50vw;
  --fds-spacing-colvw-7: 58.3333vw;
  --fds-spacing-colvw-8: 66.6667vw;
  --fds-spacing-colvw-9: 75vw;
  --fds-spacing-colvw-10: 83.3333vw;
  --fds-spacing-colvw-11: 91.6667vw;
  --fds-spacing-colvw-12: 100vw;
}